@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,700;1,400&family=Fredoka+One&family=Inter:wght@500;600&family=Open+Sans:wght@600&family=Roboto:wght@500;700&family=Rubik:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comic Neue', cursive;

}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #3498db;
}

.btn {
  background: transparent;
  border: 1px solid black;
  outline: none;
  padding: 0.3rem 0.8rem;
  margin: 1rem 0;
}

.box {
  height: 300px;
}

.box2 {
  height: 250px;
}

.box3 {
  height: 250px;
}

.box4 {
  height: auto;
}

.box,
.box2,
.box3,
.box4 {
  background: #ecf0f1;
  border-radius: 4px;
  padding: 1.2rem;
  box-shadow: 0 0 10px gray;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.hidden {
  background: #fff;
  width: 100%;
  padding: 1rem;
  border-radius: 2px;
}

.hiddenDiv {
  position: relative;
  width: 250px;


}

.inputTag {
  background-color: #2980b9 !important;
  color: #fff !important;
  border: none;
  padding: 0.7rem;
}

::placeholder {
  color: #fff !important;
}

.addCard {
  background: transparent;
  border: none;
  color: #95a5a6;
}

.add {
  background: #27ae60;
  border: none;
  color: #ffff;
  padding: 0.3rem 1rem;
}

@media (max-width: 767px) {
  .home {
    height: auto;
    padding: 2rem;

  }

  .box,
  .box2,
  .box3 {
    margin: 1rem 0;
  }

}

@media (min-width: 768px) and (max-width: 1024px) {
  .home {
    height: auto;
    padding: 3rem;

  }

  .box,
  .box2,
  .box3 {
    margin: 1rem 0;
  }

}

@media screen and (min-width: 1400px) {
  .container {
    width: 1370px;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    width: 1570px;
  }
}

@media screen and (min-width: 1900px) {
  .container {
    width: 1870px;
  }
}